In [2]:
with open('红海行动.txt',encoding='utf-8') as f:
    rows = f.readlines()

In [3]:
rows[0]

'12380.2\n'

In [4]:
i =1
boxes = []
box = []
for row in rows:
    if 'div' in row:
        continue
    if row.strip()=='--':
        row = 'None'
    box.append(row.strip())
    if i%13 == 0 :
        boxes.append(box)
        box=[]
    i+=1

In [5]:
boxes[:5]

[['12380.2',
  '10.1%',
  '40.3',
  '11.4%',
  '69',
  '84.8%',
  '18.3%',
  '4.5万',
  '9.3%',
  '437.0万',
  '12947.9',
  '10.1%',
  '42.2'],
 ['14125.9',
  '14.4%',
  '40.0',
  '13.7%',
  '69',
  '84.8%',
  '19.4%',
  '5.1万',
  '11.6%',
  '531.6万',
  '14792.4',
  '14.3%',
  '41.9'],
 ['17733.0',
  '19.8%',
  '40.2',
  '16.7%',
  '71',
  '82.2%',
  '20.6%',
  '6.2万',
  '15.1%',
  '682.5万',
  '18744.6',
  '19.8%',
  '42.5'],
 ['21189.1',
  '25.9%',
  '39.8',
  '20.5%',
  '72',
  '81.6%',
  '22.2%',
  '7.4万',
  '20.2%',
  '889.0万',
  '22409.5',
  '25.8%',
  '42.1'],
 ['23163.1',
  '30.1%',
  '39.1',
  '23.1%',
  '72',
  '86.2%',
  '23.1%',
  '8.2万',
  '24.6%',
  '1062.4万',
  '24591.8',
  '30.0%',
  '41.5']]

In [6]:
import csv
with open('红海行动.csv', 'w', newline='',encoding='utf-8') as f:
    writer = csv.writer(f)
    writer.writerows(boxes)

In [7]:
# import sklearn 
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
data = pd.read_csv('红海行动.csv')
data2 = data
data2.iloc[:,[1,3,5,6,8,11]] = data2.iloc[:,[1,3,5,6,8,11]].applymap(lambda x : x if  '%' not in x else x[:-1])
sits = data['座位数']
sits2=sits.apply(lambda x : float(x[:-1])*10000 if '万' in x else x)
data2['座位数'] = sits2
data2['场次']=data['场次'].map(lambda x : float(x[:-1])*10000 if '万' in x else x)
data2 = data2.convert_objects(convert_numeric=True)

data2.head()

f:\pythonprojects\lenv\test\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

,分账票房,分账票房占比,分账票价,排片占比,场均人次,网售占比,黄金场占比,场次,排座占比,座位数,综合票房,综合票房占比,综合票价
0,12380.2,10.1,40.3,11.4,69,84.8,18.3,45000.0,9.3,4370000.0,12947.9,10.1,42.2
1,14125.9,14.4,40.0,13.7,69,84.8,19.4,51000.0,11.6,5316000.0,14792.4,14.3,41.9
2,17733.0,19.8,40.2,16.7,71,82.2,20.6,62000.0,15.1,6825000.0,18744.6,19.8,42.5
3,21189.1,25.9,39.8,20.5,72,81.6,22.2,74000.0,20.2,8890000.0,22409.5,25.8,42.1
4,23163.1,30.1,39.1,23.1,72,86.2,23.1,82000.0,24.6,10624000.0,24591.8,30.0,41.5

In [9]:
Y_train = data2['综合票房']
X_train = data2.drop(['分账票房','综合票房','分账票房占比','场均人次','网售占比','综合票房占比','综合票价'],axis = 1)
X_train['holiday']=0
X_train['weekday']=0

for i in range(X_train.shape[0]):
    if i%7 == 1 or i%7 ==2:
        X_train.iloc[i,6] = 1
    else:
        X_train.iloc[i,7] = 1
X_train.head()

   分账票价  排片占比  黄金场占比       场次  排座占比         座位数  holiday  weekday
0  40.3  11.4   18.3  45000.0   9.3   4370000.0        0        1
1  40.0  13.7   19.4  51000.0  11.6   5316000.0        1        0
2  40.2  16.7   20.6  62000.0  15.1   6825000.0        1        0
3  39.8  20.5   22.2  74000.0  20.2   8890000.0        0        1
4  39.1  23.1   23.1  82000.0  24.6  10624000.0        0        1

In [10]:
X_train['time'] = 0
for i in range(X_train.shape[0]):
    X_train.iloc[i,8] = np.sqrt(1.0/(i+1))
X_train.head()

   分账票价  排片占比  黄金场占比       场次  排座占比         座位数  holiday  weekday      time
0  40.3  11.4   18.3  45000.0   9.3   4370000.0        0        1  1.000000
1  40.0  13.7   19.4  51000.0  11.6   5316000.0        1        0  0.707107
2  40.2  16.7   20.6  62000.0  15.1   6825000.0        1        0  0.577350
3  39.8  20.5   22.2  74000.0  20.2   8890000.0        0        1  0.500000
4  39.1  23.1   23.1  82000.0  24.6  10624000.0        0        1  0.447214

In [12]:
X_train.to_csv('hhxd_train_x.csv',index = False)
Y_train.to_csv('hhxd_train_y.csv',index = False)

In [16]:
np.sum(data2.iloc[7:14])/7

分账票房      1.536241e+04
分账票房占比    4.670000e+01
分账票价      3.637143e+01
排片占比      3.205714e+01
场均人次      4.257143e+01
网售占比      8.648571e+01
黄金场占比     2.615714e+01
场次        9.985714e+04
排座占比      3.915714e+01
座位数       1.483600e+07
综合票房      1.644533e+04
综合票房占比    4.670000e+01
综合票价      3.894286e+01
dtype: float64